//esquema de colores

//primer esquema de color

$white: #fff;
$platinum: #E6E7E7;
$light_gray: #D1D1D1;
 
//segundo esquema de color

$fuzzy_wuzzy: #E56353;
$ruddy_pink: #D76C69;
$spanish_pink: #ECBCBA;

//tercer esquema de color

$eerie_black: #121619;
$raisin_black: #222323;
$nickel: #6C6E70;



//tipografia

$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//pesos de fuentes

$regular: 400;
$light: 300;
$italic: 900;

//tamaños de fuentes

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;