.button {
    padding: .2rem 1rem;
    border-radius: 100px;
    font-family: $roboto;
    font-size: $medium;
    font-weight: $regular;
    



    & {
    background-color: $nickel;
    color: $white;
    

    &:hover {
        background-color: $light_gray;
        color: $white;
    }

    &:focus {
      background-color: $nickel;
      border-color: 2px solid $light_gray;
      box-shadow: none;
    }
    }


    

}
