h1 {
    font-family: $playfair;
    font-weight: $italic;
    font-size: $xx-large;
}

h2 {
    font-family: $playfair;
    font-weight: $regular;
    font-size: $large;
}

h3 {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $large;

}

h5 {
    font-family: $playfair;
    font-weight: $italic;
    font-size: $x-large;

}

p {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $medium; 
}